<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Library | Authors</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

    <script>
        async function getAuthors() {
            try {
                const response = await fetch('/authors/');
                const authors = await response.json();
                displayAuthors(authors);
            } catch (error) {
                console.error('Error:', error);
                window.location.href = "/error";
            }
        }

        function displayAuthors(authors) {
            const tableBody = document.querySelector('#authors-table tbody');
            tableBody.innerHTML = '';
            authors.forEach(author => {
                displaySingleAuthor(author);
            });
        }

        function displaySingleAuthor(author) {
            const tableBody = document.querySelector('#authors-table tbody');
            const row = document.createElement('tr');
            const cell1 = document.createElement('td');
            const cell2 = document.createElement('td');
            cell1.textContent = author.id;
            cell2.textContent = author.fullName;
            row.appendChild(cell1);
            row.appendChild(cell2);
            tableBody.appendChild(row);
        }
    </script>

</head>


<style>
    h1 {
        margin-bottom: 40px;
        margin-top: 20px;
    }
    div {
        margin-bottom: 10px;
        margin-top: 15px;
    }
</style>


<body class="container" onload="getAuthors()">


<ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
    <li class="breadcrumb-item"><a th:href="'/'">Home</a></li>
    <li class="breadcrumb-item"><a th:href="'/authors'">Authors</a></li>
</ol>


<h1 class="align-middle text-center">
    Library | Authors
</h1>

<hr>
<div>
    <h4 class="align-middle text-center">
        All authors
    </h4>
</div>
<hr>

<table class="table table-striped table-bordered" id="authors-table">
    <thead class="align-middle text-center">
    <tr>
        <th>Author.Id</th>
        <th>Author.FullName</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

</body>

</html>