<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Library | Books</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

    <script>
        async function getBooks() {
            try {
                const response = await fetch('/books/all'); // Получение всех книг
                const books = await response.json(); // Преобразование ответа в JSON
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                displayBooks(books); // Вызываем функцию для отображения книг
            } catch (error) {
                console.error('Error:', error);
            }
        }

        async function findBookById() {
            try {
                const id = document.getElementById('id-find-input').value
                const path = `/books/${id}`; // Путь
                const response = await fetch(path); // Поиск книги по ID
                const book = await response.json(); // Преобразование ответа в JSON
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                displayFoundBook(book); // Вызываем функцию для отображения найденной книги
            } catch (error) {
                console.error('Error:', error);
            }
        }

        function displayBooks(books) {
            const tableBody = document.querySelector('#books-table tbody');
            tableBody.innerHTML = ''; // Очистка таблицы перед добавлением новых данных
            books.forEach(book => {
                displaySingleBook(book);
            });
        }

        function displaySingleBook(book) {
            const tableBody = document.querySelector('#books-table tbody');
            const row = document.createElement('tr');
            const cell1 = document.createElement('td');
            const cell2 = document.createElement('td');
            const cell3 = document.createElement('td');
            const cell4 = document.createElement('td');
            cell1.textContent = book.id;
            cell2.textContent = book.title;
            cell3.textContent = book.author.id;
            cell4.textContent = book.genre.id;
            row.appendChild(cell1);
            row.appendChild(cell2);
            row.appendChild(cell3);
            row.appendChild(cell4);
            tableBody.appendChild(row);
        }

        function displayFoundBook(book) {
            const foundTableBody = document.querySelector('#books-table tbody');
            foundTableBody.innerHTML = ''; // Очистка таблицы перед добавлением новой записи
            displaySingleBook(book);
        }

        async function deleteBook() {
            try {
                const id = document.getElementById('id-delete-input').value; // Получаем значение id из input
                const path = `/books/${id}`; // Формируем путь для удаления книги
                const response = await fetch(path, { method: 'DELETE' }); // Отправляем DELETE-запрос
                const books = await response.json(); // Преобразование ответа в JSON
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                displayBooks(books); // Вызываем функцию для отображения книг
            } catch (error) {
                console.error('Ошибка:', error);
            }
        }

        async function createBook(title, authorId, genreId) {
            try {
                const body = JSON.stringify({ title, authorId, genreId }); // Создаем тело запроса
                const options = {
                    method: 'POST', // Метод POST для создания новой книги
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body
                };
                const response = await fetch('/books', options); // Отправляем POST-запрос на создание книги
                const createdBook = await response.json(); // Преобразование ответа в JSON
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return createdBook; // Возвращаем созданную книгу
            } catch (error) {
                console.error('Error:', error);
            }
        }

    </script>

</head>


<style>
    h1 {
        margin-bottom: 40px;
        margin-top: 20px;
    }

    div {
        margin-bottom: 10px;
        margin-top: 15px;
    }
</style>


<body class="container" onload="getBooks()">


<!-- Breadcrumb -->
<ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
    <li class="breadcrumb-item"><a th:href="'/'">Home</a></li>
    <li class="breadcrumb-item"><a th:href="'/books'">Books</a></li>
</ol>


<h1 class="align-middle text-center">
    Library | Books
</h1>


<!-- All books / Founded book by Id -->
<hr>
<div>
    <h4 class="align-middle text-center">
        All books / Founded book by Id
    </h4>
</div>
<hr>

<!-- Таблица, где отображаются все книги, либо одна книга, если поиск по id -->
<table class="table table-striped table-bordered" id="books-table">
    <thead class="align-middle text-center">
    <tr>
        <th>Book.Id</th>
        <th>Book.Title</th>
        <th>Book.Author (Id / FullName)</th>
        <th>Book.Genre (Id / Name)</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>


<!--&lt;!&ndash; Insert new book &ndash;&gt;-->
<!--<hr>-->
<!--<div>-->
<!--    <h4 class="align-middle text-center">-->
<!--        Insert new book-->
<!--    </h4>-->
<!--</div>-->
<!--<hr>-->

<!--</body>-->
<!--<form th:method="POST" th:action="@{/books/create}" th:object="${book_create_obj}" class="align-middle text-center">-->
<!--    <div>-->
<!--        <label for="title-input">Enter the title of the new book -></label>-->
<!--        <input id="title-input" type="text" th:field="*{title}">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="author-id-input">Enter the Id of the author of the new book -></label>-->
<!--        <input id="author-id-input" type="text" th:field="*{authorId}">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="genre-id-input">Enter the genre Id of the new book -></label>-->
<!--        <input id="genre-id-input" type="text" th:field="*{genreId}">-->
<!--    </div>-->
<!--    <div>-->
<!--        <button type="submit" class="btn btn-success rounded-pill px-3">Add new book</button>-->
<!--    </div>-->
<!--</form>-->


<!--&lt;!&ndash; Update book by Id &ndash;&gt;-->
<!--<hr>-->
<!--<div>-->
<!--    <h4 class="align-middle text-center">-->
<!--        Update book by Id-->
<!--    </h4>-->
<!--</div>-->
<!--<hr>-->

<!--<form th:method="post" th:action="@{/books/update}" th:object="${book_update_obj}" class="align-middle text-center">-->
<!--    <div>-->
<!--        <label for="id-update-input">Enter the Id of the book you want to edit -></label>-->
<!--        <input id="id-update-input" type="text" th:field="*{id}">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="title-update-input">Enter a new title for the book -></label>-->
<!--        <input id="title-update-input" type="text" th:field="*{title}">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="author-update-id-input">Enter the new author's Id for the book -></label>-->
<!--        <input id="author-update-id-input" type="text" th:field="*{authorId}">-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="genre-update-id-input">Enter the new genre's Id for the book -></label>-->
<!--        <input id="genre-update-id-input" type="text" th:field="*{genreId}">-->
<!--    </div>-->
<!--    <div>-->
<!--        <button type="submit" class="btn btn-warning rounded-pill px-3">Update book</button>-->
<!--    </div>-->
<!--</form>-->


<!-- Find book by Id -->
<hr>
<div>
    <h4 class="align-middle text-center">
        Find book by Id
    </h4>
</div>
<hr>

<form class="align-middle text-center">
    <div>
        <label for="id-find-input">Enter the Id of the book you want to find -></label>
        <input id="id-find-input" type="text">
    </div>
    <div>
        <button type="button" class="btn btn-info rounded-pill px-3" onclick="findBookById()">Find</button>
    </div>
</form>


<!-- Delete book by Id -->
<hr>
<div>
   <h4 class="align-middle text-center">
       Delete book by Id
   </h4>
</div>
<hr>

<form class="align-middle text-center">
   <div>
       <label for="id-delete-input">Enter the Id of the book you want to delete -></label>
       <input id="id-delete-input" type="text">
   </div>
   <div>
       <button type="button" class="btn btn-danger rounded-pill px-3" onclick="deleteBook()">Delete</button>
   </div>
</form>

<hr>

</body>

</html>