<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <title th:text="#{project.title}">Technical Information System</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <style>
        h1 {
            margin-bottom: 40px;
            margin-top: 20px;
        }
        div {
            margin-bottom: 10px;
            margin-top: 15px;
        }
    </style>

    <body class="container">

        <!-- Хлебные крошки -->
        <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item"><a th:href="'/'">🏠︎</a></li>
            <li class="breadcrumb-item"><a th:href="'/error'">Error</a></li>
        </ol>

        <!-- Заголовок -->
        <h1 class="align-middle text-center" th:text="#{project.title.short} + ' | Error'">
            TIS | Error
        </h1>

        <h2 class="align-middle text-center" style="color: #FF5500">
            <span th:if="${not #strings.isEmpty(errorDto?.errorText)}" th:text="${errorDto.errorText}"></span>
            <span th:if="${#strings.isEmpty(errorDto?.errorText) and not #strings.isEmpty(error_message)}" th:text="${error_message}"></span>
            <span th:if="${#strings.isEmpty(errorDto?.errorText) and #strings.isEmpty(error_message)}">Oops, an error has occurred.</span>
        </h2>

    </body>

</html>