<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <title th:text="#{project.title}">
            Technical information system
        </title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <style>
        h1 {
            margin-bottom: 40px;
            margin-top: 20px;
        }
        div {
            margin-bottom: 10px;
            margin-top: 15px;
        }
    </style>

    <script>
        async function getThreads() {
            try {
                const response = await fetch('/threads/');
                const threads = await response.json();
                displayThreads(threads);
            } catch (error) {
                console.error('Error:', error);
            }
        }

        function displayThreads(threads) {
            const tableBody = document.querySelector('#threads-table tbody');
            tableBody.innerHTML = '';
            threads.forEach(thread => {
                displaySingleThread(thread);
            });
        }

        function displaySingleThread(thread) {
            const tableBody = document.querySelector('#threads-table tbody');
            const row = document.createElement('tr');

            const cell1 = document.createElement('td');
            const cell2 = document.createElement('td');
            const cell3 = document.createElement('td');
            const cell4 = document.createElement('td');

            cell1.textContent = thread.id;              // ID
            cell2.textContent = thread.threadDiameter;  // Diameter
            cell3.textContent = thread.pitch;           // Pitch
            cell4.textContent = thread.toleranceClass;  // Tolerance Class

            row.appendChild(cell1);
            row.appendChild(cell2);
            row.appendChild(cell3);
            row.appendChild(cell4);

            tableBody.appendChild(row);
        }

    </script>

    <body class="container" onload="getThreads()">

        <!-- Хлебные крошки -->
        <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item"><a th:href="'/'">🏠︎</a></li>
            <li class="breadcrumb-item"><a th:href="'/threads'">Threads</a></li>
        </ol>

        <!-- Заголовок -->
        <h1 class="align-middle text-center" th:text="#{project.title.short} + ' | Threads'">
            TIS | Threads
        </h1>

        <hr>

        <div>
            <h4 class="align-middle text-center">
                All threads
            </h4>
        </div>

        <hr>

        <table class="table table-striped table-bordered" id="threads-table">
            <thead class="align-middle text-center">
            <tr>
                <th>ID</th>
                <th>Diameter</th>
                <th>Pitch</th>
                <th>Tolerance Class</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="thread : ${threads}">
                <td th:text="${thread.id}"></td>
                <td th:text="${thread.threadDiameter}"></td>
                <td th:text="${thread.pitch}"></td>
                <td th:text="${thread.toleranceClass}"></td>
            </tr>
            </tbody>
        </table>

    </body>

</html>