<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Library | Home</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>


<style>
    h1 {
        margin-bottom: 40px;
        margin-top: 20px;
    }
</style>


<body class="container">


<ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
    <li class="breadcrumb-item"><a th:href="'/'">Home</a></li>
</ol>


<h1 class="align-middle text-center">
    Library | Home
</h1>


<div class="align-middle text-center">
    To use the library's services, you need to log in
</div>
<div class="align-middle text-center">
    <a th:href="'login'" >Log in</a>
    <br>
    <br>
</div>


<div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">
                    Books
                </h4>
            </div>
            <div class="card-body">
                <a th:href="'books'">
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">
                        Get started
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">
                    Authors
                </h4>
            </div>
            <div class="card-body">
                <a th:href="'authors'">
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">
                        Get started
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">
                    Genres
                </h4>
            </div>
            <div class="card-body">
                <a th:href="'genres'">
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">
                        Get started
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">
                    Comments
                </h4>
            </div>
            <div class="card-body">
                <a th:href="'comments'">
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">
                        Get started
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>


</body>

</html>